*{
  font-family: serif;
  font-size: 12px;

}

body{
  background: black url(../img/brick_wall.jpg)
  repeat-y top center;
  width: 960px;
  max-height: 1500px;
  margin: 0 auto;
}

img{
  border: 2pt solid;
  position: relative;
  width: 290px;
  box-shadow: 3px 5px 30px #888888;
  top: 25px;
  left: 620px;

}
h1{
  font-family: Francois One;
  font-size: 60px;
  text-align: center;
  border: solid 3pt;
  background-color: lightpink;
  max-width: 800px;
  box-shadow: 3px 5px 30px #888888;
  margin:0 auto;
  margin-top: 25px;
  z-index: auto;

}

h2{
  font-family: Francois One;
  font-size: 30px;
  border-bottom: solid 2pt;
  margin-top: 0;
  text-align: center;
}
h3,h4,h5,h6,li,p,.cont{
  font-family: Cuprum;
  font-size: 18px;
}

h3,h4,h5,h6{
  line-height: 0.1;
  text-align: center;
}

address{
  height: 200px;
  width: 30%;
  border: 2px solid;
  background-color: lightblue;
  padding: inherit;
  margin:15px;
  box-shadow: 3px 5px 30px #888888;
  position:relative;
  bottom: 230px;
  left: 15px;
  z-index: auto;
}
#contacts{
  text-align: center;
  margin-top: 0;
  border-bottom: 2px solid;
}
#contact-info{
  margin-bottom: auto;
  margin-top: 0;
  margin-left: 5pt;
}

nav{
  border: 2px solid;
  max-width:230px;
  height:140px;
  position: relative;
  left:350px;
  bottom:414px;
  background-color: lightyellow;
  box-shadow: 3px 5px 30px #888888;
  margin: 15px;
}
#contents{
  text-align: center;
  border-bottom: 2pt solid;
  margin-top: 0;
}
#nav-links{
  text-align: center;
}

.email-links{
    font-size: 18px;
}
.email-links:link{
  color: darkblue;
}
.email-links:visited{
  color: red;
}
.email-links:active{
  color:cyan;
}
.email-links:hover{
  color:darkcyan;
}
.cont:link{
  color:darkblue;
}
.cont:visited{
  color:red;
}
.cont:active{
  color:cyan;
}
.cont:hover{
  color:darkcyan;
}
article{
  border-bottom:2pt solid;
}
#education{
  border: 2pt solid;
  background-color: lightgreen;
  max-width:290px;
  position: relative;
  left: 25px;
  bottom:271px;
  box-shadow: 3px 5px 30px #888888;
  margin: 15px;
}
#edu,#yat,#date{
  text-align: center;
  line-height: 0.2;
}
#edu{
  font-weight: bold;
  font-size: 19pt;
}
#yat{
  font-style: italic;
}
#experience{
  border:2pt solid;
  background-color: lightpink;
  width:570px;
  position:relative;
  margin: 0 auto;
  left:165px;
  bottom:500px;
  box-shadow: 3px 5px 30px #888888;
}
.job-title{
  font-family: Francois One;
  font-weight: bold;
  font-size: 25px;
}
.job-location{
  font-style: italic;
}
.job-position{
  text-decoration: underline;
  font-weight: bold;
}

#skills{
  border:solid 2pt;
  background-color: lightblue;
  max-width: 300px;
  position: relative;
  bottom: 1500px;
  left: 25px;
  box-shadow: 3px 5px 30px #888888;
}
#prof{
  text-align: center;
  font-size: 21pt;
}
